.select-space {
    width: 500px;
    margin-bottom: 2rem;
}

.select-option {
    text-transform: capitalize;
}

@media screen and (max-width: 1100px) {
    .select-space {
        width: 100%;
    }
}